# Node modules
node_modules/

# Vite build outputs
client/dist/

# env files
*.env
*.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac + Linux temp
.DS_Store
.cache

# ngrok
ngrok.yml
ngrok.log

# IDE/editor
.vscode/
.idea/

# system files
*.swp
*~
